*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: url(https://images.alphacoders.com/133/thumb-1920-1339627.png) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
h1{
    padding: 5px 20px;
    font-size: 2em;
    color: #248dd3;
    color: #00bfff; /* bright blue */
  text-shadow:
    0 0 5px #00bfff,
    0 0 10px #00bfff,
    0 0 20px #1e90ff,
    0 0 40px #1e90ff;
    user-select: none;
}
nav a{
    position: relative;
    font-size: 1.1em;
    color: #248dd3;
    
     color: #00bfff; /* bright blue */
  text-shadow:
    0 0 5px #00bfff,
    0 0 10px #00bfff,
    0 0 20px #1e90ff,
    0 0 40px #1e90ff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    padding-right: 40px;
}
nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 55%;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform .5s ;
     
}
nav a:hover::after{
    transform: scaleX(1);
transform-origin: left ;}
section {
    color: #248dd3;
    color: #00bfff; /* bright blue */
  text-shadow:
    0 0 5px #d21eff,
    0 0 10px #d21eff,
    0 0 20px #d21eff,
    0 0 40px #d21eff;
    background: transparent; 
    backdrop-filter: blur(2px);  /* dark blue/black */
    color: #18307e;             /* light text */
    padding: 24px;
    border-radius: 50%;
    font-family: Arial, sans-serif;
}

/* Headings */
section h2 {
    color: #38bdf8;             /* cyan accent */
    margin-bottom: 8px;
}

/* Paragraphs */
section p {
    color: #e4ebff;             /* soft light text */
    line-height: 1.6;
}

/* List */
section ul {
    margin-top: 12px;
    padding-left: 20px;
    font-weight: 500px;
}

section ul li {
    font-weight: 500px;
    color: #000000;
    margin-bottom: 6px;
}

/* Optional hover effect for list items */
section ul li:hover {
    color: #38bdf8;
    cursor: pointer;
}
